/* Control the left side */
.left {
  background-color: "#fff";
  border-right: 2px;
  border-right-style: solid;
  border-right-color: #cccccc;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.headerContainer {
  display: flex;
  flex-flow: row;
}

.flexColumn {
  display: flex;
  flex-flow: column;
}

.flexRow {
  display: flex;
  flex-flow: row;
}

.centeredText {
  text-align: center;
}

.centeredIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerContainer {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
